<!DOCTYPE html>
<html lang="en"
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head><title>cynosure</title>
  

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{% static 'Tweet/main.css' %}">



<body>
    <div class="navbar">
     <div class="navbar__link-brand">CYNOSURE 2K19</div>
     <div class="navbar__link-toggle">
         <i class="fas fa-bars"></i>
</div>
        <div class="navbar__items">
           
           <div class="navbar__link"><a href="{% url 'home' %}">home</a></div>
           <div class="navbar__link"><a href="#">events</a></div>
          <div class="navbar__link"><a href="{% url 'contact' %}">contact</a></div>
          {% if user.is_authenticated %}
           <div class="navbar__link"><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span>profile</a></div>
           <div class="navbar__link"><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-user"></span>logout</a></div>
           {% else %}
           <div class="navbar__link"><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span>register</a></div>
           <div class="navbar__link"><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> login</a></div>
           {% endif %}

        </div>
</div> 
<div class="content" >
    <div class="col-md-5">
      {% if messages %}
      {% for message in messages %}
          <div class="alert alert-info">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
      {% block content %}{% endblock %}
    </div>
    
    </div>
    







</html>
<script>
function add_remove_toggle()
{
 const value=document.querySelectorAll('.navbar__items')
 value.forEach(nav => 
  nav.classList.toggle('navbar__toggleshow'));
}
document.querySelector('.navbar__link-toggle').addEventListener('click',add_remove_toggle);