{% extends 'Tweet/base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<body class=" login"
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container" style="margin:0 auto;width:500px;">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="{% url 'password_reset' %}">Login</a></h1>

        </div>
        
        
    </div>
    <!-- END Header -->
    
    

    
        
    

    <!-- Content -->
    <div id="content" class="colM">
        
        
        




<div id="content-main">



<form method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  
  
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="changepassword" />
  </div>
</form>

      

</body>
{% endblock %}