{% extends 'Tweet/base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<body class=" login"
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container" style="margin:0 auto;width:500px;">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/register/">SignUp</a></h1>

        </div>
        
        
    </div>
    <!-- END Header -->
    
    

    
        
    

    <!-- Content -->
    <div id="content" class="colM">
        
        
        




<div id="content-main">



<form method="POST" enctype="multipart/formdata" style="display:grid">
	      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4"></legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
<div class="submit-row">
    <label>already have an account</label>
    <a href="{% url 'login' %}">login</a>
  </div>

</div>

        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer">please select  a good username</div>
</div>
<!-- END Container -->

</body>
{% endblock %}
